.env
.python-version
__pycache__/
.idea/
.DS_Store
screenlog*
temp/*
uniswapTokenData
**/*projects.json
**/*aggregator.json
**/*settings.json
**/*.backup
Powerloom
.vscode
.github
.mypy_cache
requirements.txt
**/*.whl
script2.py
script.py