[submodule "config"]
	path = config
	url = https://github.com/Seth-Schmidt/snapshotter-configs/
[submodule "snapshotter/modules/computes"]
	path = snapshotter/modules/computes
	url = https://github.com/Seth-Schmidt/snapshotter-computes/
