# Required
SOURCE_RPC_URL=<source-rpc-url>
SIGNER_ACCOUNT_ADDRESS=<signer-account-address>
SIGNER_ACCOUNT_PRIVATE_KEY=<signer-account-private-key>

# Optional
PROST_RPC_URL=https://rpc-prost1c.powerloom.io
PROTOCOL_STATE_CONTRACT=0xEA4525F221Ef76Cf38dB913b522f95Ec35dF8B82
RELAYER_HOST=https://relayer-py-prost1c.powerloom.io
NAMESPACE=UNISWAPV2
POWERLOOM_REPORTING_URL=https://testnet-reporting.powerloom.io
PROST_CHAIN_ID=103
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
