aiohttp==3.8.5
aiorwlock==1.3.0
aiosignal==1.3.1
anyio==4.2.0
appdirs==1.4.4
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==23.2.0
base58==2.1.1
bitarray==2.9.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
coincurve==18.0.0
cytoolz==0.12.2
decorator==5.1.1
-e git+https://github.com/powerloom/py-eip712-structs@9f702859aeae7ea9c4dfd799f4a7d16a65949973#egg=eip712_structs
eth-account==0.10.0
eth-hash==0.6.0
eth-keyfile==0.7.0
eth-keys==0.5.0
eth-rlp==1.0.0
eth-typing==4.0.0
eth-utils==3.0.0
eth_abi==5.0.0
exceptiongroup==1.2.0
fastapi==0.95.1
fastapi-pagination==0.12.12
frozendict==2.3.8
frozenlist==1.4.1
gunicorn==20.1.0
h11==0.14.0
hexbytes==0.3.1
httpcore==0.17.3
httpx==0.24.1
idna==3.4
-e git+https://github.com/PowerLoom/py-ipfs-client.git@ae98cf45ddc6042009df2ced2b346be922f432ce#egg=ifps_client
importlib==1.0.4
ipfs-cid==1.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
loguru==0.7.0
lru-dict==1.2.0
multiaddr==0.0.9
multidict==6.0.4
netaddr==0.10.1
parsimonious==0.9.0
protobuf==4.25.2
psutil==5.9.5
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.13
pyunormalize==15.1.0
referencing==0.32.1
regex==2023.12.25
requests==2.31.0
rlp==4.0.0
rpds-py==0.17.1
safe-pysha3==1.0.4
six==1.16.0
sniffio==1.3.0
starlette==0.26.1
tenacity==8.2.2
timeago==1.0.16
toolz==0.12.0
typer==0.7.0
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.20.0
uvloop==0.19.0
validators==0.20.0
varint==1.0.2
web3==6.13.0
websockets==12.0
yarl==1.9.4
